h1 {
    font: 30px monospace bold;
    color: #326ccc;
}
h2 {
    padding-top: 3em;
}
body {
    font: 14px monospace;
    color: lightgray;
    font-weight: thin;
    background-color: #111;
    animation: fadein 1s;
}
a {
    text-decoration: none;
    color: lightgray;
}
.link {
    color: #326ccc !important;
    font-weight: 800;
}
.main {
    width: max(50%, 400px);
    margin: auto;
    padding-top: 10%;
}
#meshwave-canvas {
    width: 100%;
    height: 100vw;
    padding: 0;
    margin: 0;
    border: 0;
    position: fixed;
}
.animlist {
    list-style: none;
    padding-left: 0;
}
.animline {
    animation-name: incoming;
    animation-duration: 1s;
    animation-delay: calc(var(--animation-order)*200ms);
    animation-fill-mode: both;
    /*animation-timing-function: eas-in-out;*/
}
@keyframes incoming {
    0% {
        opacity: 0;
        transform: translateY(0.8em);
    }

    100% {
        opacity: 1;
    }
    /*from { opacity: 0; }*/
    /*to   { opacity: 1; }*/
}
li + li {
    margin-top: 1em;
}
.projsummary {
    animation-name: borderoff;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
.projsummary p {
    margin-top: 0.5em;
    margin-bottom: 0;
}
.projsummary:hover {
    animation-name: borderon;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes borderon {
    from {
        border: 1px solid rgba(0, 0, 0, 0);
    }
    to {
        border: 1px solid #326ccc;
    }
}
@keyframes borderoff {
    to {
        border: 1px solid rgba(0, 0, 0, 0);
    }
    from {
        border: 1px solid #326ccc;
    }
}
.projdetails {
    animation-name: slideup;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
.projsummary:hover .projdetails {
    animation-name: slidedown;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes slidedown {
    from {
        padding-left: 30px;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-1em);
        padding-top: 0;
    }
    to {
        padding-left: 30px;
        height: 15%;
        opacity: 1;
        overflow: auto;
        padding-top: 30px;
    }
}
@keyframes slideup {
    to {
        padding-left: 30px;
        opacity: 0;
        height: 0px;
        transform: translateY(-1em);
        padding-top: 0;
    }
    from {
        padding-left: 30px;
        height: 15%;
        opacity: 1;
        overflow: auto;
        padding-top: 30px;
    }
}
.inverted {
    background-color: #326ccc;
    color: white;
    padding: 0.5em;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 35px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #555 !important;
}
.footer .socials {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    animation-name: incoming;
    animation-duration: 1s;
}
.socials .fa {
    padding-left: 5px;
    padding-right: 5px;
    transition: color 0.2s;
    color: #333;
}
.socials .fa:hover {
    color: #ccc !important;
}

.toggles {
    position: fixed;
    padding: 10px;
}
.toggles .fa {
    animation-name: slideright;
    animation-duration: 1s;
    transition: color 0.2s;
    color: #333;
}
.toggles .fa:hover {
    color: #ccc !important;
}
@keyframes slideright {
    0% {
        opacity: 0;
        color: #fff !important;
        transform: translateX(-1em);
    }

    100% {
        opacity: 1;
        color: #333;
    }
}
